caintegrator-spec_1_0_0_0_build-dependency_build_77/cacoretoolkit/cgom_client/lib/gov.nih.nci.caintegrator.domain.finding.variation.somaticMutation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.somaticMutation" xmlns:gov.nih.nci.caintegrator.domain.study="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.study" xmlns:gov.nih.nci.caintegrator.domain.annotation.gene="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.gene" xmlns:gov.nih.nci.caintegrator.domain.annotation.protein="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.protein" xmlns:gov.nih.nci.caintegrator.domain.annotation.snp="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.snp" xmlns:gov.nih.nci.caintegrator.domain.finding="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding" xmlns:gov.nih.nci.caintegrator.domain.finding.clinical="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.clinical" xmlns:gov.nih.nci.caintegrator.domain.finding.variation="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation" xmlns:gov.nih.nci.caintegrator.domain.finding.variation.germline="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.germline" xmlns:gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency" xmlns:gov.nih.nci.caintegrator.domain.common="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.common" xmlns:gov.nih.nci.caintegrator.domain.analysis.snp="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.analysis.snp" targetNamespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.somaticMutation" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation" schemaLocation="gov.nih.nci.caintegrator.domain.finding.variation.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.snp" schemaLocation="gov.nih.nci.caintegrator.domain.annotation.snp.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.germline" schemaLocation="gov.nih.nci.caintegrator.domain.finding.variation.germline.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.clinical" schemaLocation="gov.nih.nci.caintegrator.domain.finding.clinical.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.protein" schemaLocation="gov.nih.nci.caintegrator.domain.annotation.protein.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.gene" schemaLocation="gov.nih.nci.caintegrator.domain.annotation.gene.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.analysis.snp" schemaLocation="gov.nih.nci.caintegrator.domain.analysis.snp.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.common" schemaLocation="gov.nih.nci.caintegrator.domain.common.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency" schemaLocation="gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding" schemaLocation="gov.nih.nci.caintegrator.domain.finding.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.study" schemaLocation="gov.nih.nci.caintegrator.domain.study.xsd" />
  <xs:element name="SomaticMutationFinding" type="SomaticMutationFinding" />
  <xs:complexType name="SomaticMutationFinding">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.caintegrator.domain.finding.variation:VariationFinding">
        <xs:sequence />
        <xs:attribute name="baseNumber" type="xs:integer" />
        <xs:attribute name="functionalChange" type="xs:string" />
        <xs:attribute name="locationByCodon" type="xs:integer" />
        <xs:attribute name="locationByExon" type="xs:integer" />
        <xs:attribute name="locationByIntron" type="xs:integer" />
        <xs:attribute name="mutantAminoAcid" type="xs:string" />
        <xs:attribute name="mutantCodon" type="xs:string" />
        <xs:attribute name="mutationStatus" type="xs:string" />
        <xs:attribute name="mutationType" type="xs:string" />
        <xs:attribute name="numberOfCodonsAffected" type="xs:long" />
        <xs:attribute name="sizeOfMutation" type="xs:long" />
        <xs:attribute name="wildtypeAminoAcid" type="xs:string" />
        <xs:attribute name="wildtypeCodon" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FunctionalChange" type="FunctionalChange" />
  <xs:complexType name="FunctionalChange">
    <xs:sequence />
    <xs:attribute name="complex" type="xs:string" />
    <xs:attribute name="frameset" type="xs:string" />
    <xs:attribute name="inFrame" type="xs:string" />
    <xs:attribute name="missense" type="xs:string" />
    <xs:attribute name="nonSense" type="xs:string" />
    <xs:attribute name="silent" type="xs:string" />
    <xs:attribute name="splicing" type="xs:string" />
  </xs:complexType>
  <xs:element name="MutationType" type="MutationType" />
  <xs:complexType name="MutationType">
    <xs:sequence />
    <xs:attribute name="complex" type="xs:string" />
    <xs:attribute name="deletion" type="xs:string" />
    <xs:attribute name="insertion" type="xs:string" />
    <xs:attribute name="point" type="xs:string" />
  </xs:complexType>
  <xs:element name="MutationStatus" type="MutationStatus" />
  <xs:complexType name="MutationStatus">
    <xs:sequence />
    <xs:attribute name="mutation" type="xs:string" />
    <xs:attribute name="wildtype" type="xs:string" />
  </xs:complexType>
</xs:schema>

