caintegrator-spec_1_0_0_0_build-dependency_build_92/cacoretoolkit/cgom_client/lib/gov.nih.nci.caintegrator.domain.annotation.gene.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.gene" xmlns:gov.nih.nci.caintegrator.domain.study="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.study" xmlns:gov.nih.nci.caintegrator.domain.annotation.protein="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.protein" xmlns:gov.nih.nci.caintegrator.domain.annotation.snp="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.snp" xmlns:gov.nih.nci.caintegrator.domain.finding="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding" xmlns:gov.nih.nci.caintegrator.domain.finding.clinical="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.clinical" xmlns:gov.nih.nci.caintegrator.domain.finding.variation="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation" xmlns:gov.nih.nci.caintegrator.domain.finding.variation.somaticMutation="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.somaticMutation" xmlns:gov.nih.nci.caintegrator.domain.finding.variation.germline="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.germline" xmlns:gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency" xmlns:gov.nih.nci.caintegrator.domain.common="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.common" xmlns:gov.nih.nci.caintegrator.domain.analysis.snp="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.analysis.snp" targetNamespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.gene" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.snp" schemaLocation="gov.nih.nci.caintegrator.domain.annotation.snp.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.germline" schemaLocation="gov.nih.nci.caintegrator.domain.finding.variation.germline.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.analysis.snp" schemaLocation="gov.nih.nci.caintegrator.domain.analysis.snp.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding" schemaLocation="gov.nih.nci.caintegrator.domain.finding.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.study" schemaLocation="gov.nih.nci.caintegrator.domain.study.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.annotation.protein" schemaLocation="gov.nih.nci.caintegrator.domain.annotation.protein.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation" schemaLocation="gov.nih.nci.caintegrator.domain.finding.variation.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency" schemaLocation="gov.nih.nci.caintegrator.domain.finding.variation.snpFrequency.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.common" schemaLocation="gov.nih.nci.caintegrator.domain.common.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.variation.somaticMutation" schemaLocation="gov.nih.nci.caintegrator.domain.finding.variation.somaticMutation.xsd" />
  <xs:import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.caintegrator.domain.finding.clinical" schemaLocation="gov.nih.nci.caintegrator.domain.finding.clinical.xsd" />
  <xs:element name="GeneExprReporterType" type="GeneExprReporterType" />
  <xs:complexType name="GeneExprReporterType">
    <xs:sequence />
    <xs:attribute name="cdna_clone_based_reporter" type="xs:string" />
    <xs:attribute name="long_oligo_based_reporter" type="xs:string" />
    <xs:attribute name="probeset_based_reporter" type="xs:string" />
  </xs:complexType>
  <xs:element name="GeneExprReporter" type="GeneExprReporter" />
  <xs:complexType name="GeneExprReporter">
    <xs:sequence>
      <xs:element name="geneReporterAnnotation" type="GeneReporterAnnotation" minOccurs="0" maxOccurs="1" />
      <xs:element name="geneBioMarker" type="GeneBiomarker" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="GeneReporterAnnotation" type="GeneReporterAnnotation" />
  <xs:complexType name="GeneReporterAnnotation">
    <xs:sequence />
    <xs:attribute name="chromosome" type="xs:string" />
    <xs:attribute name="cytoband" type="xs:string" />
    <xs:attribute name="endPhysicalLocation" type="xs:long" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="startPhysicalLocation" type="xs:long" />
  </xs:complexType>
  <xs:element name="GeneBiomarker" type="GeneBiomarker" />
  <xs:complexType name="GeneBiomarker">
    <xs:sequence>
      <xs:element name="snpAnnotationCollection" type="gov.nih.nci.caintegrator.domain.annotation.snp:SNPAnnotation" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="goTermCollection" type="GOTerm" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="geneExprReporterCollection" type="GeneExprReporter" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="genBankAccessionCollection" type="GenBankAccession" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="pathwayCollection" type="Pathway" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="proteinBiomarkerCollection" type="gov.nih.nci.caintegrator.domain.annotation.protein:ProteinBiomarker" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="geneAliasCollection" type="GeneAlias" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="chromosome" type="xs:string" />
    <xs:attribute name="cytoband" type="xs:string" />
    <xs:attribute name="entrezGeneID" type="xs:string" />
    <xs:attribute name="hugoGeneSymbol" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="endPhysicalLocation" type="xs:long" />
    <xs:attribute name="startPhyscialLocation" type="xs:long" />
  </xs:complexType>
  <xs:element name="Pathway" type="Pathway" />
  <xs:complexType name="Pathway">
    <xs:sequence>
      <xs:element name="geneBiomarkerCollection" type="GeneBiomarker" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="GeneAlias" type="GeneAlias" />
  <xs:complexType name="GeneAlias">
    <xs:sequence>
      <xs:element name="geneBiomarker" type="GeneBiomarker" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="alias" type="xs:string" />
    <xs:attribute name="hugoGeneSymbol" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:element name="GOTerm" type="GOTerm" />
  <xs:complexType name="GOTerm">
    <xs:sequence>
      <xs:element name="geneBiomarkerCollection" type="GeneBiomarker" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="GenBankAccession" type="GenBankAccession" />
  <xs:complexType name="GenBankAccession">
    <xs:sequence>
      <xs:element name="geneBiomarker" type="GeneBiomarker" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="hugoGeneSymbol" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="number" type="xs:string" />
  </xs:complexType>
</xs:schema>

